header{
    font-family: Helvetica, Arial, sans-serif;
}

main,
footer{
    font-family: Arial, Helvetica, sans-serif;
}

.my-blue-box{
    width: 100%;
    height: 50px;
    background-color: blue;
}

#top-header{
    background-color: black;
    height: 100%;
}

#header-logo{
    height: 35px;
}

section#jumbotron{
    width: auto;
    height: 500px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

#returnal-img{
    width: 60%;
}

#central-jumbotron{
    width: auto;
    height: 600px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}